.bg-img {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  object-fit: cover;
  z-index: -2;
}
.bg-shadow {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.contents {
  z-index: 0;
  padding: 20px;
}

.top p {
  color: white;
  font-size: 2.4rem;
}
.top p span {
  color: #FAE100;
  font-weight: bold;
}

.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  padding: 20px;
}
.another-way {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: underline;
}
.bottom .button-kakao {
  width: 100%;
  background: white;
  border-radius: 7px;
  border: none;
  font-size: 1rem;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  background: white;
}
.button-kakao img {
  width: 20px;
  margin-right: 15px;
}

.button-apple {
  width: 100%;
  background: white;
  border-radius: 7px;
  border: none;
  font-size: 1rem;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  background: black;
  margin-top: 15px;
  color: white;
}
.button-apple img {
  width: 15px;
  margin-right: 15px;
}
