@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.navigation {
  width: 100%;
  height: auto;
  padding: 7px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 0.5px solid #1e1e1e;
  display: flex;
  flex-direction: row;
  background: white;
}
.navigation div {
  flex: 1;
}

.navigation div img {
  display: block;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navigation div span {
  display: block;
  font-size: 1.7rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  color: gray;
}

#color_selected {
  color: #724be1;
}

.navigation div p {
  font-size: 0.5rem;
  margin: 0;
  text-align: center;
  color: gray;
}
