.Settingtitle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 60px;
}

.MyinfO {
  font-weight: 400;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 12px;
}

.gray-box1 {
  width: 100%;
  height: 17px;
  background: #f2f4f6;
  margin-bottom: 97px;
}

.color-red {
  color: red;
}

.Big-gray-bottom {
  width: 100%;
  backgorund: gray;
  height: 50px;
}
