.Creatework {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: #f2f4f6;
}

.Creatework .title {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: bold;
}

.Creatework .menu {
  display: flex;
  color: gray;
}
.Creatework .menu p {
  margin-right: 25px;
}
.Creatework .menu .black {
  color: black;
}
.BlueBoX {
  margin-top: 41px;
  width: 100%;
  padding: 30px;
  border-radius: 25px;
  background: rgba(0, 46, 148, 0.68);
  color: white;
  display: flex;
}
.SubTiTLE0 {
  font-family: New York;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
}

.caLendar {
  width: 95px;
  margin-top: 35px;
  margin-left: auto;
}
.STartbutton {
  width: auto;
  margin-top: 10px;
  background: white;
  font-size: 13px;
  color: rgba(0, 46, 148, 0.68);
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  border: 0px solid black;
  color: black;
  padding: 10px 20px;
}
