rectangle-9 {
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    margin-bottom: 55px;
    background: #f2f3f5;
    border: 0.1px solid rgba(0, 0, 0, 0.6);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 25px 20px 20px 20px;
  }
  
  .rectangle-9 .info .title {
    margin-left: 5%;
    font-weight: bold;
    margin: 0;
  }
  .rectangle-9 .info .today-date {
    color: #7d7f85;
    font-size: 0.9rem;
    margin: 7px 0 0 0;
  }
  
  .rectangle-9 .info {
    margin-bottom: 10px;
  }
  
  .rectangle-9 .top-icon {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .rectangle-9 .top-icon div {
    width: 30px;
    height: 3px;
    background: #d9d9d9;
    border-radius: 4px;
  }
  
  .rectangle-11 {
    width: 100%;
    padding: 12px;
    background: #ffffff;
    border: 0.3px solid #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
  }
  
  .rectangle-11 .left {
    /* //padding: 10px 20px 10px 10px; */
    padding-right: 12px;
    display: flex;
    align-items: center;
  }
  .rectangle-11 .left div {
    background: purple;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
  }
  
  .rectangle-11 .center {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .rectangle-11 .center .title {
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .rectangle-11 .center .date {
    color: black;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 0.9rem;
  }
  
  .rectangle-11 .right {
    display: flex;
    align-items: center;
    width: auto;
    /* //background:tomato;
    // padding-right: 10px; */
    padding-left: 12px;
    color: gray;
  }