.doitnow {

    position: relative;
    width: 170px;
    margin: auto;
    display: flex;
  }
  
  .Login_button {
    width: 100%;
    margin-top: 25px;
    background: #d5d5d5;
    backdrop-filter: blur(2px);
    border-radius: 6px;
    height: 53px;
    font-family: "Asap Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    border: 0;
  }
  
  .signin {
    margin-top: 25px;
    margin-left: 20px;
    font-family: "Asap Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    text-align: center;
  }
  
  .empty{
    height: 200px;
  }