.box1 {
  background: #f4f4f5;
  border: 0.1px solid #c2c2c2;
  border-radius: 6px;
  margin-top: 10px;
  font-family: "Amita";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 33px;
  color: #8d94a0;
}

.gangbang1 {
  font-family: ".SF Arabic";
  font-style: normal;
  font-weight: 511;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-top: 59px;
}

.genshin {
  font-family: ".SF Arabic";
  font-style: normal;
  font-weight: 511;
  font-size: 15px;
  line-height: 20px;
  margin-top: 40px;
}

.box2 {
  background: #f4f4f5;
  border: 0.1px solid #c2c2c2;
  backdrop-filter: blur(2px);
  border-radius: 6px;
  font-family: "Amita";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 33px;
  color: #8d94a0;
  height: 150px;
  margin-top: 10px;
}

.box3 {
  background: #fafafb;
  opacity: 0.6;
  border: 1.5px solid #000000;
  border-radius: 5px;
  width: 60px;
  margin-top: 31px;
  height: 65px;
  display: flex;
}

.box3 .material-symbols-outlined {
  margin-left: 17px;
  margin-top: 14.08px;
}

.number {
  margin-left: 8px;
  margin-top: 1px;
}

.box4 {
  border-radius: 5px;
  height: 65px;
  width: 60px;
  border: 1.5px solid #000000;
  margin-left: 8px;
}
